@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container" id="event-edit"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbGlmbrdNDXr2nLExaLoFYrM4ee2mIzQM&callback=initMap">
</script>
<script src="/bundle.js"></script>
