@{
    Layout = "~/Views/_Layout.cshtml";
}

@model EventPlanner.WebApiModels.MyEventsPage

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">My events - Created</div>
            <div class="panel-body">
                @foreach (var e in Model.Created)
                {
                    @Html.Partial("EventListItem",e)
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">My events - Invited to</div>
            <div class="panel-body">
                @foreach (var e in Model.InvitedTo)
                {
                    @Html.Partial("EventListItem",e)
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function copyToClippboard(eventId) {
            var copyTextarea = document.getElementById(eventId);
            copyTextarea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }
        }
    </script>
</div>